/* ページ全体の背景に色を追加 */
body {
    background-color: #1e1e2f; /* 背景色のみを設定 */
    margin: 0;
    font-family: Arial, sans-serif;
}

/* AnalysisPageのルート要素 */
.AnalysisPage {
    padding: 20px;
    background-color: #1e1e2f; /* TopPage.css と同じ暗いベース色 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 立体感を強調 */
    max-width: 900px;
    margin: 3px auto;
    font-family: 'Arial', sans-serif; 
    height: 72vh;
    color: #e0e0e0; /* 文字色を明るい色に変更 */
}

/* タイトルのスタイル */
.AnalysisPage h2 {
    color: #ffffff; /* タイトルも白に変更 */
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* コンテンツエリアのスタイル */
.AnalysisPage .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* 説明欄のスタイル */
.description {
    flex: 1;
    margin-right: 20px;
    background: #2c3e50; /* 暗い青色に変更 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* シャドウを強調 */
}

.description h3 {
    margin-bottom: 10px;
    color: #ecf0f1; /* 視認性を高めるために明るい文字色に */
    padding: 1rem 2rem;
    border-top: 3px dashed #ffffff; /* 白の破線 */
    border-bottom: 3px dashed #ffffff; /* 白の破線 */
}

/* リストスタイル */
.description ul {
    list-style: none;
    padding: 0;
}

.description li {
    margin-bottom: 10px;
    line-height: 1.6;
    color: #ecf0f1; /* 明るい文字色 */
}

/* グラフのスタイル */
.chart {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin-top: -5%; 
}

.chart canvas {
    width: 100% !important;
    height: auto !important; 
}


/* レスポンシブ対応 */
@media (max-width: 768px) {
    .content {
        flex-direction: column-reverse;
    }

    .description {
        margin-right: 0;
        margin-top: 10px;
    }

    .chart {
        max-width: 250px; /* 小さい画面でさらに縮小 */
    }
}

.box2-8 {
    padding: 2em;
    background-image: linear-gradient(0deg, transparent 19px, #ccc 20px), linear-gradient(90deg, transparent 19px, #ccc 20px);
    background-size: 20px 20px;
}

.result {
    margin: 0 auto;
    padding: 0.05rem 0.7rem;
    border: 6px double #404658;
    width: 130px;
}
