/* 全体のスタイル */
.slide-page {
  display: flex;
  flex-direction: column;
  height: 88vh;
  background-color: #1e1e2f;
}

/* ヘッダー */
.header {
  background-color: #2c3e50;
  padding: 30px;
  text-align: center;
}

/* メインコンテンツ */
.content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 50px;
  gap: 10px;
  padding: 5%;
  flex: 1;
  margin-top: 30px; /* ヘッダーの高さ分だけ余白を追加 */
}

/* 左サイドバー */
.left-sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: #3a3a57b5;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
}

/* メインスライドエリア */
.main-slide {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #ffffff;
  color: #ecf0f1;
}

/* 右サイドバー */
.slide-list {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.slide-item {
  flex: 1;
  background-color: #5d5d87a1;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.comment-area {
  background-color: #818db5b9;
  padding: 2%;
  font-family: 'Arial', Helvetica, sans-serif;
  border: 1px solid #2c3e50;
  font-size: 16px;
  color: #333;
  border-radius: 5px;
  outline: none;
  overflow-y: auto;
}
