/* ベース設定 */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1e1e2f; /* 暗い背景色 */
  color: #e0e0e0; /* 明るい文字色 */
  }
  
  .app {
    display: flex;
    height: 88vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1e1e2f;
  }
  
  /* メインセクション */
  /* メインコンテンツ */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 中央ではなく上に配置 */
  text-align: center;
  flex: 1;
  margin-top: 30px; /* タイトルを上に少し余白を追加 */
}

.title {
  font-size: 6rem;
  font-weight: bold;
  color: #ffffff; /* 明るい文字色 */
  margin-top: -0.5rem;
  font-family: 'Playfair Display', serif; /* 優雅なタイトルフォント */
}


  
  /* ボタンのコンテナ */
  .buttons {
    display: flex;
    flex-direction: column; /* ボタンを縦に並べる */
    align-items: center;    /* 中央揃え */
    gap: 3.0rem; /* ボタン間の余白を調整 */
    margin-top: -1.5rem;
  }
