header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 5px 15px;
    border-bottom: 1px solid #ddd;
    height: 7vh;
    position: fixed; /* ヘッダーを固定する */
    top: 0; /* 上部から配置の基準位置を決める */
     left: 0; /* 左から配置の基準位置を決める */
    width: 100%; /* ヘッダーの横幅を指定する */
    height: 35px; /* ヘッダーの高さを指定する */
 padding: 10px; /* ヘッダーの余白を指定する(上下左右) */
    color: #000000; /* フォントの色を指定する */
}

nav {
    display: flex;
    align-items: center;
    gap: 20%;
}

nav a {
    text-decoration: none;
    font-size: 120%;
    color: #333;
    padding: 5% 12%;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 25px;
}

nav a:hover {
    color: #fff;
    background-color: #ba5959;
    border-radius: 25px;
}

nav a:active {
    transform: scale(0.95);
    background-color: #007b00;
    color: #fff;
}

nav a:focus {
    background-color: #8a4040;
    color: #fff;
    outline: none; 
    transform: scale(1.05);
}

.search-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto; 
    margin-right: 10%;
}

.search-field {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    flex: 1;
}

.search-button {
    padding: 5px 16px; 
    background-color: #808080;
    color: rgb(216, 216, 216); 
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.2s; 
}

.search-button:hover {
    background-color: #696a6b; 
}

.search-button:active {
    transform: scale(0.9); 
    background-color: #393a3b; 
}
