/* 全体の横並び配置 */
.slide-container {
  display: flex;            /* 縦方向に要素を並べる */
  flex-flow: column;        /* 縦方向に並べる */
  justify-content: flex-start; /* 上に揃える */
  align-items: center;      /* 横方向を中央揃え */
  gap: 5%;                  /* 各ボックス間の間隔 */
  overflow-y:auto;         /* 縦スクロールを可能にする */
  padding: 20px;
  background-color: transparent; /* 背景色を設定 */
  height: 55vh;             /* ビューポート高さを使用 */
  scrollbar-width: none;
}


    /* 個々のボックスのスタイル */
    .clickable-text {
    padding:10px;
    min-height: 130px;
    min-width: 200px;
       /* transition: transform 0.3s, box-shadow 0.3s; */
    background-color: #5d5d87a1;
    border-radius: 5px;
    border: 2px solid #ffffff; /* 白いふちを追加 */
    transition: transform 0.3s ease-in-out; /* ホバー時に動かす */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0.2); /* 立体感強化 */
    }
    
    .clickable-text:hover {
    transform: scale(1.03);  /* ホバー時に拡大 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
    
    .clickable-text:focus {
    border: 2px solid #000;
    }
    
    .add-box-button {
        margin-top: 10px;
        padding: 5px 10px;
        font-size: 16px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #000;;
        border-radius: 5px;
      }